
	/*JULIUS SANS ONE, CRIMSON TEXT*/
/*@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
*/
.wrapper {
	font-family: 'Julius Sans One', sans-serif;
	}
	
	/*font-family: 'Crimson Text', serif;
	font-family: 'Wire One', sans-serif;*/


.masthead {
   	padding: 9em 0;
    background-image: url('http://fstopvideo.com//devProjects/aboutMe/images/macbook_code.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

#masthead1 {
	font-size: xx-large;
}

#masthead2 {
	font-size: 96px;
}

.masthead-heading {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin-top: 0em;
    text-align: center;
	color: white;
}

.intro{
	padding-left: 15px;
	text-align: left;
}

.moreAbout {
	padding-right: 18px;
}

.moreMusic {
	padding-left: 18px;
}

.font-fix {
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.sectionMore{
	text-align: right;
	padding: .4em .4em .4em .4em;
	margin-top: 0em;
	margin-right: 0em;
	margin-left: 0em;
/*	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;*/
}
.sectionAbout {
	padding: .4em .4em .4em .4em;
	margin-top: 30em;
	margin-bottom: 0em;
/*	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;*/
}

.sectionHobby {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: .4em .4em .4em .4em;
}

.sectionMusic {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: .4em .4em .4em .4em;
}

.sectionDream {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: .4em .4em .4em .4em;
}

.moreList {
	list-style: none;
}

.hobbyList {
	list-style: none;
}

.musicList {
	list-style: none;
}

.dreamList {
	list-style: none;
}

.col-md-12 {
	background-color: #61C4FB;
	height: 3px;
}

.aboutText {
	padding-top: 10px;
}

#aboutLeft {
	margin-top: 8px;
	background-color: white;
	color: black;
}

#aboutRight {
	background-image: url('http://fstopvideo.com//devProjects/aboutMe/images/pencilImages.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 50%;
	height: 270px;
	color: black;
}

#hobbyRight {
	background-image: url('http://fstopvideo.com//devProjects/aboutMe/images/DSLR-Shooting.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0em -8em;
	width: 50%;
	height: 350px;
	color: black;
}

#moreLeft {
	background-image: url('http://fstopvideo.com//devProjects/aboutMe/images/superhero-kid.jpg');
	background-size: cover;
	background-position: 0em -8em;
	margin: 0em;
	background-repeat: no-repeat;
	width: 50%;
	height: 300px;
	color: black;
}

#musicLeft {
	background-image: url('http://fstopvideo.com//devProjects/aboutMe/images/headphones.jpeg');
	background-size: cover;
	background-position: 0em -8em;
	margin-top: 0em;
	background-repeat: no-repeat;
	width: 50%;
	height: 300px;
	color: black;
}

#dreamRight {
	background-image: url('http://fstopvideo.com//devProjects/aboutMe/images/dream_job.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0em -8em;
	width: 50%;
	height: 400px;
	color: black;
}

.content-footer {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	background-color: #2196F3;
	color: white;
	text-align: center;
	margin-top: 0em;
	padding-top: .1em;
	margin-left: auto;
	margin-right: auto;
}

.social {
	color: white;
	list-style: none;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: white;
}

@media only screen and  (max-width: 500px) {
    .masthead-heading {
        font-size: 3em;
    }
}